<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aassmr"
        tools:targetApi="31">

        <!-- my property "account side"!-->
        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.ViewCertainVehicle" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>
        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.ViewCertainRealestate" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>
        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.ViewCertainJewelry" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>

        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.UpdateCertainVehicle" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>
        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.UpdateCertainRealestate" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>
        <activity android:name=".Views.Credentials.Account.My_Property.ViewProperty.VURCertainProperty.UpdateCertainJewelry" android:parentActivityName=".Views.Credentials.Account.AccountHome"/>
        <!-- end my property "account side"!-->

        <!-- properties assumption view-certain-vehicle !-->
        <activity android:name=".Views.Credentials.Properties.View.PropertyViewCertainVehicle" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Views.Credentials.Properties.View.PropertyViewCertainRealestate" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Views.Credentials.Properties.View.PropertyViewCertainJewelry" android:parentActivityName=".MainActivity"/>
        <!-- end properties assumption view-certain-vehicle !-->

        <activity android:name=".Views.Credentials.Signin.Signin" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Views.Credentials.Signup.Signup" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Views.Credentials.Properties.PropertyLists.Properties"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Views.Credentials.Account.AccountHome"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>